<div class="background">
    <header>
        <div class="row d-flex align-content-center mx-2">
            <div class="col d-flex justify-content-start">
                <figure>
                    <img src="pictures/logo.svg">
                </figure>
            </div>
            <div class="col d-flex justify-content-center">
                <h2>{{headerName}}</h2>
            </div>
            <div class="col d-flex justify-content-end">
                <svg viewBox="0 0 80 80" width="50" height="50">
                    <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                    <text x="50%" y="50%" text-anchor="middle" dy=".3em">sdd</text>
                </svg>
                <svg viewBox="0 0 80 80" width="50" height="50">
                    <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                    <text x="50%" y="50%" text-anchor="middle" dy=".3em">sdd</text>
                </svg>
                <svg viewBox="0 0 80 80" width="50" height="50">
                    <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                    <text x="50%" y="50%" text-anchor="middle" dy=".3em">sdd</text>
                </svg>
                <svg viewBox="0 0 80 80" width="50" height="50">
                    <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                    <text x="50%" y="50%" text-anchor="middle" dy=".3em">sdd</text>
                </svg>
            </div>
       </div>
    </header>
</div>