<div class="row">
    <div class="card shadow rounded light-green p-2 me-5 m-5 col">
        <form  class="form-group">
            <h2 class="maintFont">Sign in into your account</h2>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail"  placeholder="Username">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div>
                <a href="https://dl.nure.ua/?redirect=0" class="d-flex justify-content-end">Forgot password?</a>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary w-75" (click)="onLoginClick()">Login</button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-secondary w-75" (click)="onRegisterClick()">Register</button>
            </div>
          </form>
    </div>
    <div class="d-flex justify-content-center mt-3 col">
        <h1>WELCOME TO CODE INSIDE!</h1>
    </div>
</div>
