
<div class="container-1">
    <div class="box-1">
        <figure>
            <svg viewBox="0 0 80 80" width="50" height="50">
                <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                <image x="15" y="15" width="50" height="50" xlink:href="https://cdn-icons-png.flaticon.com/512/507/507257.png"/>
                
            </svg>
          </figure>
    </div>
    <div class="box-2">
        <h3>{{topic.name}}</h3>
    </div>
    <div class="box-3">
        <div class="col d-flex justify-content-end" style="margin-top: -10px;">
        <!-- <figure>
            <svg viewBox="0 0 80 80" width="50" height="50">
                <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                <image x="15" y="15" width="50" height="50" xlink:href="https://cdn-icons-png.flaticon.com/512/1077/1077063.png"/>
            </svg>
            <svg viewBox="0 0 80 80" width="50" height="50">
                <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                <image x="15" y="15" width="50" height="50" xlink:href="https://cdn-icons-png.flaticon.com/512/3135/3135722.png"/>
            </svg>
            <svg viewBox="0 0 80 80" width="50" height="50">
                <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                <image x="15" y="15" width="50" height="50" xlink:href="https://cdn-icons.flaticon.com/png/512/1950/premium/1950715.png?token=exp=1635365469~hmac=485ffe4db06199703013e5dd9e61a477"/>
            </svg>
            <svg viewBox="0 0 80 80" width="50" height="50">
                <circle class="circle" cx="40" cy="40" r="30"  fill="#6D54A4"/>
                <image x="15" y="15" width="50" height="50" xlink:href="https://cdn-icons-png.flaticon.com/512/3557/3557552.png"/>
            </svg>
          </figure> -->
        </div>
    </div>
  </div>
  
  <div class="container-2">
    <div class="box">
      <h3>description</h3>
      <p>{{topic.description}}</p> 
    </div>
   
  </div>