.jumbotron{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 30px;
    background-color: #CFF3E4;
    border-radius: 30px;
}

.lead{
    margin:  30px;
}

.customBackground{
    background-image: url('./pictures/background.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.purple{
    color: #592bbd;
}
