<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<div class="customBackground">
    <h1 class="display-4" style="margin-top: 50px;">WELCOME TO CODE INSIDE!</h1>

    <div class="jumbotron">    
        <h1 class="display-6">A NEW WAY TO LEARN</h1>
        <p class="lead">Code Insider is ultimate platform for learning programming at different levels, learning theory and solving practical problems!</p>
        <hr class="my-4">
        <img src="assets/img/welcome-logo.png" alt="За стеклом">
            <div class="purple">
                <h2 class="display-5" style="margin-top: -20px">Who is the platform for?</h2>
            </div>
    
            <h6 style="margin-top: 20px;">Motivated people who want to become brelliant programmers are welcome</h6>
            <p class="lead">
                <button class="btn btn-primary btn-lg mr-3" (click)="onLoginClick()">Login</button>
                <button class="btn btn-secondary btn-lg" (click)="onRegisterClick()">Register</button>
            </p>
    </div>
</div>



    
