<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<div class="customBackground">
    <div class="row">
        <div class="card shadow rounded light-green p-2 me-5 m-5 col">
            <form  [formGroup]="registrationForm" class="mx-auto">
                <h2 class="maintFont">Create new account</h2>
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail"  placeholder="Email" name="email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername"  placeholder="Username" name="username" formControlName="username">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="inputBirthDay"  placeholder="Date of birth" name="birthday" formControlName="birthday">
                </div>
                <div class="form-group inner-addon right-addon">
                    <div class="input-group mx-auto">
                      <input name="password"
                          [type]="showPassword ? 'text' : 'password'"
                          class="form-control pwd-control"
                          id="password-field" placeholder="Password" name="password" formControlName="password">
                      <div>
                        <i alt="show" class="far fa-eye eye-show" 
                        (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                        <i alt="hide" class="far fa-eye-slash eye-hide" 
                        (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                      </div>
                    </div>
                </div>
                <div class="form-group inner-addon right-addon">
                    <div class="input-group mx-auto">
                      <input name="confirmPassword"
                          [type]="showConfirmPassword ? 'text' : 'password'"
                          class="form-control pwd-control"
                          id="confirmPassword-field" placeholder="Repeat password">
                      <div>
                        <i alt="show" class="far fa-eye eye-show" 
                        (click)="showConfirmPassword = !showConfirmPassword"
                        [class.hide-confirm-password]="showConfirmPassword"></i>
                        <i alt="hide" class="far fa-eye-slash eye-hide" 
                        (click)="showConfirmPassword = !showConfirmPassword"
                        [class.hide-confirm-password]="!showConfirmPassword"></i>
                      </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary w-75" (click)="onRegisterClick()">Register</button>
                </div>
                <div class="d-flex justify-content-center mt-3 margin-bottom-10">
                    <button class="btn btn-secondary w-75" (click)="onBackToLoginClick()">Back to login</button>
                </div>
              </form>
        </div>
        <div class="d-flex justify-content-center mt-3 col">
            <h1 style="margin-top: 5rem;">WELCOME TO<br>CODE INSIDE!</h1>
        </div>
    </div>
    
</div>