<app-header></app-header>
<div class="custom-block" *ngFor="let task of tasks">
    <div class="row">
        <div class="col">
            <h3 class="text-left ml-2">{{task.name}}</h3>
        </div>
        <div class="col">
            <p>{{task.complexity}}</p>
        </div>
        <div class="col c3 d-flex justify-content-center">
            <p class="solved-block mt-2" *ngIf="task.solved">solved</p>
            <p class="unsolved-block mt-2" *ngIf="!task.solved">unsolved</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h6 class="text-justify ml-2">{{task.description}}</h6>
        </div>
        <div class="col-4">
            <button class="btn btn-primary w-50 mb-3">Solve</button>
        </div>
    </div>
</div>