.custom-block{
  border-radius:16px;
  background:#FFFFFF;
  box-shadow: 2px 5px 10px 2px rgba(34, 60, 80, 0.2);
  text-align:center;
  color:#333;
  margin: 20px;
}
.solved-block{
  width: 120px;
  border-radius:16px;
  font-size:16px;
  background-color: #CFF3E4;
}

.unsolved-block{
  width: 120px;
  border-radius:16px;
  font-size:16px;
  background-color: #EEF3FF;
}
.filter{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  border-radius: 5px;
  background-color: #CFF3E4;
  padding: 5px;
}
  
.search {
  margin: 10px;
  border: 1px solid #4D4D4D;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #FFFFFF;
}

.search-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

.search:hover, .search:focus {
  border: 1px solid #009688;
  background-color: white;
}

fa-icon{
  color: #FFDC97;
  padding: 2px;
  size: 24px;
}

.btn-primary {
  max-height: 40px;
}

.jumbotron{
  text-align: center;
  background-color: #CFF3E4;
  border-radius: 30px;
  width: 80%;
  height: auto;
  margin: 35px auto;
  padding: 20px 35px;
}

.faPlus {
  font-size: 34px;
  color: black;
}

.sendButton {
  background-color: #50E08A;
  border: none;
  border-radius: 15px;
  width: 180.23px;
  height: 57px;
  margin-right: 2.5%;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.hintButton {
  background-color: #FFDC97;
  border: none;
  border-radius: 15px;
  width: 180.23px;
  height: 57px;
  margin-left: 2.5%;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

form {
  width: 50%;
  height: 440px;
  border-radius: 15px;
  background: #CFF3E4;
  box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.15);
  padding-top: 35px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}

textarea, input, .topic-select {
  width: 75%;
  padding: 15px 30px;
  border-radius: 10px;
  resize: none;
}

.closeFaTimes {
  color: black;
  font-size: 21px;
}


.closeButtonTimes {
background-color: #FFDC97;
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.controlText {
color: black;
font-family: 'Cairo', sans-serif;
font-weight: 300;
font-size: 24px;
text-decoration: underline;
cursor: pointer;
}