<app-header [headerName]="taskName" [navbarWithLogo]="false" [backUrl]="backUrl"></app-header>
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
<h3>Discussion</h3>
<div class="background">
    <div [ngClass]="username == comment.username ? 'userMessageBlock' : 'messageBlock'"
        *ngFor="let comment of comments">
        <div [ngClass]="username == comment.username ? 'userTextBlock' : 'textBlock'">
            <div class="comment-navbar">
                <p class="nickname">{{comment.username}}</p>
                <p class="datetime">{{comment.datetime}}</p>
            </div>
            <p>{{comment.message}}</p>
        </div>
        <div class="user_image"></div>
    </div>

    <div class="addComment">
        <input type="text" placeholder="Add comment" [formControl]="messageValueControl" [(ngModel)]="message">
        <button (click)="onAddComment()">
            <fa-icon [icon]="faLocationArrow"></fa-icon>
        </button>
    </div>
</div>