<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
<h3>Discussion</h3>
<div class="background">
  <div class="messageBlock">
    <div class="user_image"></div>
    <div class="textBlock">
      <p class="nickname">nickName</p>
      <p>user text</p>
    </div>
  </div>

  <div class="userMessageBlock">
    <div class="userTextBlock">
      <p class="nickname">nickName</p>
      <p>user text</p>
    </div>
    <div class="user_image"></div>
  </div>

  <div class="userMessageBlock">
    <div class="userTextBlock">
      <p class="nickname">nickName</p>
      <p>user text</p>
    </div>
    <div class="user_image"></div>
  </div>

  <div class="addComment">
    <input type="text" placeholder="Add comment">
    <button>
      <fa-icon [icon]="faLocationArrow"></fa-icon>
    </button>
  </div>
</div>
