h3 {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-weight: 25;
  font-size: 30px;
  text-align: center;
}

.discussionBackground {
  background-color: #EEF3FF;
  overflow-y: scroll;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 40px;
}

.messageBlock{
  display: flex;
}

.userMessageBlock{
  display: flex;
  justify-content: right;
}

.nickname{
  float: left;
  font-size: 14px;
  color: #27335B;
}

.datetime {
  float: right;
  font-size: 14px;
  color: #27335B;
}

.comment-navbar {
  overflow: hidden;
  margin-bottom: 5px;
}

.user_image{
  height: 50px;
  width: 50px;
  background: #C4C4C4;
  border-radius: 50%;
}

.textBlock{
  width: 60%;
  background: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px 40px;
}

.userTextBlock{
  width: 60%;
  background-color: #CFF3E4;
  border-radius: 15px;
  margin: 10px;
  padding: 10px 40px;
}

.addComment {
  padding: 10px 30px;
  border-radius: 10px 10px 10px 10px;
  width: 80%;
  background-color: white;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}

input{
  border: none;
  width: 90%;
}

button{
  background-color: #592bbd;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon{
  color: #FFDC97;
  padding: 2px;
}

.lightIcon {
  font-size: 26px;
}

.LocationArrow{
  color: #ffffff;
}

.jumbotron{
  text-align: center;
  background-color: #CFF3E4;
  border-radius: 30px;
  width: 80%;
  height: auto;
  margin: 35px auto;
  padding: 20px 35px;
}

pre {
  overflow: hidden;
  white-space:pre-wrap;
}

.description {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 44,98px;
}

.editorContainer {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  border: 2px solid rgb(109, 103, 103);
}

.langText {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-right: 1.5%;
}

.selectLanguages {
  text-align: center;
  width: 100px;
}

.sendButton {
  background-color: #50E08A;
  border: none;
  border-radius: 15px;
  width: 180.23px;
  height: 57px;
  margin-right: 2.5%;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.hintButton {
  background-color: #FFDC97;
  border: none;
  border-radius: 15px;
  width: 180.23px;
  height: 57px;
  margin-left: 2.5%;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.resultText {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-left: 10%;
}

.answerText {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-left: 1.5%;
}

.descriptionText {
  text-align: justify;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #F40101;
  margin-left: 10%;
  margin-right: 10%;
}

.warningDiscussionText {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.controlText {
  color: black;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-decoration: underline;
  cursor: pointer;
}